@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
	padding: 0;
	margin: 0;
    scroll-behavior: smooth; 
     background: var(--bg-color) ;
}
*{
    margin:0;
    padding: 0;
 
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
   
    scroll-behavior: smooth;

   
}
.word-spacing {
  margin-left: 10px; /* Adjust the value as needed */
}
.main-content {
    display: none;
  }
  
  .loader  {
    animation: rotate 1s infinite;  
    height: 50px;
    width: 50px;
  }
  
  .loader:before,
  .loader:after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;  
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite; 
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
  }
  
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }
  .loadd{
    padding-left: 3%;
  }
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to the viewport height */
    background-color: #C1B6FC; /* Change the background color */
  }  
:root {
   
    
    --bt-color: #5A43CB;
    --t-color: #242329;
    --t2-color: #6D6A7C;
    --bt2-color:#C1B6FC;
    --bg-color: #FBFBFE;
    --ani1-color: #694FB9;
    --ani2-color: #B94F69;
    --ani3-color: #4FB969;
    
  
   

}

.dark{
    --bt-color: #5A43CB;
    --t-color: #F2F1F3;
    --t2-color: #BCBAC4;
    --bt2-color:#C1B6FC;
    --bg-color: #191627;
}
span{
    color: var(--bt-color);
}

h1{
    font-size: 3rem ;
    color: var(--t-color);
    padding-top: 2%;
    padding-bottom: 2%;
}
h2{
    font-size: 1.5rem;
    color: var(--t2-color);
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 600;
}
h3{
    font-size: 1rem;
    color: var(--t2-color);
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 500;
}
.nav-main{
    width: 98vw;
    display: flex;
    justify-content: space-between;
    padding-left:6%;
    padding-right: 3%;
  
    
    position: fixed;
    background:  var(--bg-color);
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    
}
.logo img {
    width: 349px;

    position: relative;
    left: -1px;

    /* border-radius: 100%; */
   
}


.nav-main ul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    top: 0px;
    padding-left: 25%;
}
.nav-main ul li{
list-style: none;
line-height: 0px;
padding: 10px 35px 0 0;
}

.nav-main ul li a{
    display: block;
    height: 200%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    font-family: arial;
    font-size: 16px;
}
.nav{
    width: 98vw;
    display: flex;
    justify-content: space-between;
    padding-left:6%;
    padding-right: 3%;
  
    
    position: fixed;
    background:  var(--bg-color);
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    
}
.menu ul i{
font-size: 1.3rem;

border: 2px solid var(--t2-color);
border-radius: 30px;
padding: .3rem .5rem;
margin-left: 3%;

}


.logo{
    width: 30vw;
    padding-top: 1%;
    padding-bottom: .5%;

}
.logo img{
    width: 150px;
}
.menu{
    width: 75vw;
    padding-top: 1.6%;
   
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    display: inline-block;
    
  }
  
  .menu a {
    text-decoration: none; 
    color: var(--t2-color); 
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 5vw;
    display: inline-block; /* Make the links inline-block to allow for padding and positioning */
  padding-bottom: 4px;
  }
  .menu a:hover,
  .active{
    color: var(--bt-color) !important;
  }
  

  .menu a:hover::after,
  .menu a.active::after {
    background-color: var(--bt-color) ;
    content: "";
    width: 3.3%;
    height: 2px;
    position: absolute;
 
    left: 36.5%;
    top: 52px;
}
  
 
.toggle-button {
    display: none;
     /* Hide the toggle button by default */
}

.main{
    width: 98vw;
display: flex;
justify-content: space-between;

padding-bottom: 5%;
padding-top: 10%;
background: var(--bg-color);

}
.text{
width: 48vw;
padding-top: 3%;
padding-left: 6.5%;

}
.animation {
    height:50px;
    overflow:hidden;
  
  }
  
  .animation > div > div {
    padding: 0.3rem 0rem;
    height:2.81rem;
    margin-bottom: 3.8rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  .first div h2 {
 color:var(--ani1-color);
  }
  .second div h2{
    color:var(--ani2-color);
    
    
  }
  .third div h2{
    color:var(--ani3-color);
  }
 

  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  
.main_img{
width: 48vw;
padding-left: 10%;
}
.main_img img{
    width: 35vw;
}




#about{
    width: 98vw;
    display: flex;
    background: var(--bg-color);
 
    padding-top: 10%;
    padding-bottom: 5%;
}

.about_img{
width: 35vw;
padding-left: 16%;
padding-top: 1%;
}
.about_text{
width: 48vw;
padding-right: 10%;
padding-top: 2%;

}
.about_img img{
    width: 20vw;
    border: 2px solid var(--t-color);
    border-radius: 10px;
    
}






#skill{
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

  padding-top: 6%;
  background: var(--bg-color);
}


.skill_icon{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 16%;
   padding-bottom: 2%;
   padding-top: 4%;
}
.icons{
    display: flex;
    flex-direction: column;
    padding-bottom: 4%;
    
}
.icons h3{
    padding-top: 20%;
}
.skill_icon :nth-child(4) img{
padding-top: 10%;
}


.skill_icon :nth-child(6) img{
    padding-top: 40%;
    }
    .skill_icon :nth-child(6) h3{
        padding-top: 28%;
        }
        .skill_icon :nth-child(8) h3{
            padding-top: 30%;
            }
    .skill_icon :nth-child(7) img{
        padding-top: 31%;
        }
        .skill_icon :nth-child(8) img{
            padding-top: 52%;
        
            }
.icons2{
    display: flex;
    flex-direction: column;
    padding-bottom: 4%;
}
.skill_icon img{
    width: 70px;
    padding-bottom: 4%;
}
.icons h3:hover{
    color: var(--bt-color);
font-weight: 700;
}
.icons img:hover{
    transform: scale(1.1); 
}

#portfolio{
    width: 98vw;
    padding-top: 5%;
    background: var(--bg-color);
    
}
#portfolio h4{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

  font-size: 3rem;
  color: var(--t-color);
  padding-top: 2%;
  padding-bottom: 2%;
}
#portfolio h5{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

  font-size: 1.5rem;
  color: var(--t2-color);
  padding-top: 2%;
  padding-bottom: 5%;
  font-weight: 600;
}
.portfolio1{
    width: 98vw;
    display: flex;
    

}
.portfolio2{
    width: 98vw;
    display: flex;
    

    padding-top: 8%;
    padding-bottom: 5%;

}
.portfolio2_img{
    width: 48vw;
    transition: transform 0.5s ease;
  padding-left: 3%;
    }
    .portfolio2_img { animation: fadeIn 5s; }
    .portfolio_img { animation: fadeIn 5s; }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      
  
    .portfolio2_img img{
        width: 32vw;
        border: 2px solid var(--t-color);
        border-radius: 10px;
        height: 40vh;
        }

        .portfolio2_text{
            width: 35vw;
            padding-left: 15%;
          padding-right: 3%;

            padding-top: .5%;
            }
.portfolio_img{
width: 48vw;
padding-left: 15%;
transition: transform 0.5s ease;
}
.portfolio_img img{
width: 32vw;
border: 2px solid var(--t-color);
border-radius: 10px;
height: 40vh;
}


.portfolio_text{
width: 48vw;
padding-right: 12%;
padding-left: 5%;
padding-top: .5%;
}














#contact{
    width: 98vw;
    display: flex;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 6% 0% 8% 0%;
}

.contact_text{
    width: 48vw;
    padding-right: 0%;
    padding-left: 6%;
}

.contact_form{
    width: 48vw;
padding-top: 9%;
padding-left: 10%;

}
.contact_text h2{
    padding-top:8%;
    padding-bottom: 8%;
}
.contact_text p i{
    font-size: 1.5rem;
    color: var(--bt-color);
    padding-right: 2%;
}

.contact_text p {
    font-size: 1.2rem;
    font-weight: 600;
    

    padding-top: 4%;
   
    color: var(--t-color);
}

.contact_icon a i{
    font-size: 1.8rem;
    color: #833AB4; 
margin-top:2% ;

    border-radius: 50px;
    padding: .4rem;
    
    box-shadow: 0 20px 50px rgba(0, 0,0, 0.2);
}
.contact_icon a:nth-child(2) i {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    margin-left: 1%;
    
    background-clip: text;
    color: transparent;
}
.contact_icon a:nth-child(1) i {
    color: #1877F2; /* Facebook color */
    padding : .4rem .7rem;
}
  
  .contact_icon a:nth-child(3) i {
    color: #0A66C2; /* LinkedIn color */
    margin-left: 1%;
  }
.contact_icon a i:hover{
color: #fff !important;
background: var(--bt-color) !important;
}

.contact_icon{
    padding-top: 4%;
}



.form input, form textarea{
    width: 70%;
    padding: 15px;
    margin:10px 0 5px;
    background: #E3E6F3;
    margin-bottom: 2%;
    border-radius: 6px;
    border: none;
    
}
textarea {
    resize: none; /* This prevents textarea from being resized */
  }
.Input input{
    width: 70%;
    padding: 15px;
    margin:10px 0;
    background: #E3E6F3;
    margin-bottom: 1%;
    border-radius: 6px;
    border: none;
}





.footer{
    width: 98vw;
    display: flex;
    flex-wrap:wrap ;
   justify-content: center;
   text-align: center;
   align-items: center;
    background: var(--bt-color);
    color: #fff;
   
    padding-bottom: 1%;
}
.footer-legal{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
 
    

}
.footer-legal p{
    font-size:15px ;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    text-align: center;
   
    
}

.footer-legal p a{
    font-size:15px ;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    text-align: center;
    
    
    
}









.bt {
    margin-top: 2%;
   
      width: 38%;
    background-color: var(--bt-color);
    
      color: #fff;
      border: none;
      padding: 13px 15px;
      font-size: 18px;
      text-decoration: none;
      border-radius: 10px ;
      letter-spacing: 2px;
      
      font-weight: 700;
      box-shadow: 0 20px 50px rgba(0, 0,0, 0.2);
  }

.bt i{
    color: #fff;
    font-size: 20px;
}

.bt:hover{
    box-shadow: none;
}

.bt1 {
    margin-top: 2%;
   
      width: 48%;
    background-color: var(--bt-color);
    
      color: #fff;
      border: none;
      padding: 13px 15px;
      font-size: 18px;
      text-decoration: none;
      border-radius: 10px ;
      letter-spacing: 2px;
      
      font-weight: 700;
      box-shadow: 0 20px 50px rgba(0, 0,0, 0.2);
  }

.bt1 i{
    color: #fff;
    font-size: 20px;
    
}


.bt1:hover{
    box-shadow: none;
   
}

.bt2 {
    margin-top: 2%;
   
      width: 35%;
    background-color: var(--bt-color);
    
      color: #fff;
  border: none;
      padding: 13px 15px;
      font-size: 18px;
      text-decoration: none;
      border-radius: 10px ;
      letter-spacing: 2px;
      
      font-weight: 700;
      box-shadow: 0 20px 50px rgba(0, 0,0, 0.2);
  }

.bt2 i{
    color: #fff;
    font-size: 20px;
}

.bt2:hover{
    box-shadow: none;
}

.bt3 {
    margin-top: 2%;
   
      width: 23%;
    background-color: var(--bt-color);
    
      color: #fff;
      border: none;
      padding: 10px 5px;
      font-size: 15px;
      text-decoration: none;
      border-radius: 10px ;
      letter-spacing: 2px;
      
      font-weight: 700;
      box-shadow: 0 20px 50px rgba(0, 0,0, 0.2);
  }

.bt3 i{
    color: #fff;
    font-size: 15px;
}


.bt3:hover{
    box-shadow: none;
}
